:root {
    --color-background-color: #f2f2f2;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: '62.5%'
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: '400';
    line-height: '1.6rem';
    font-size: '1.6rem';
    background-color: var(--color-background-color);
}

@media only screen and (max-width: 600px) {
    .heading {
        letter-spacing: 0.5rem;
    }
}

@media only screen and (min-width: 600px) {
    .heading {
        letter-spacing: 0.5em;
    }
}

@media only screen and (min-width: 1000px) {
    .heading {
        letter-spacing: 1rem;
    }
}



@media only screen and (min-width: 1000px) {
    .heading {
        letter-spacing: 1rem;
    }
}



.main {
    padding: 5vh 2%;
    position: relative;
}


.main--background {
    background-image: url('../img/main.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* https://www.massgeneral.org/assets/MGH/images/_global/homepage/parkinsons%20testimonial-1400x700.jpg */

.main--background::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    /* z-index: 1; */
}

.main--content {
    height: 84vh;
    background: #fff;
}

.main--content--form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.heading {
    padding: 2rem 0;
    /* letter-spacing: .5rem; */
    font-weight: 500;
}

.form-control {
    /* border-bottom: 1px solid black; */
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 1.6rem 2rem;
    font-family: inherit;
    font-size: inherit;
    transition: border 1s;
    position: relative;
}

.form-control:focus {
    outline: none;
    border-color: #A9A9A9;
}

.form-control::placeholder {
    transition: all .8s;
}

.form-control:focus::placeholder {
    display: inline-block;
    transform: translateX(50%) scale(1.3);
    opacity: .6;
}

.mybtn {
    font-size: inherit;
    letter-spacing: .2rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: var(--color-background-color);
    width: 100%;
}

.mybtn:hover {
    background-color: #A9A9A9;
}

button:disabled {
    cursor: not-allowed;
}

.ng-invalid.ng-touched {
    border-color: red;
}

.text-danger {
    display: block;
    font-family: inherit;
    font-weight: 500;
}