/* .main-content {
    padding: 1rem;
}

.medical__history__heading {
    margin: 2rem 0;
}

input:read-only {
    cursor: not-allowed;
}



.btn:disabled {
    cursor: not-allowed;
} */

.medical__btn {
    margin: 1rem;
    padding: .5rem 2rem;
}

.medical__modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

/* Modal Content */
.medical__modal-content {
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 500;
    background-color: #fefefe;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

/* The Close Button */
.medical__close {
    position: absolute;
    right: .8rem;
    top: -1rem;
    display: inline-block;
    color: #aaaaaa;
    font-size: 3rem;
}

.medical__close:hover,
.medical__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}