<div class="main-content">
    <h3 class="text-center table--heading">DOCTOR PAYMENT HISTORY</h3>
    <table class="text-center table">
        <tr>
            <th class="text-center">Doctor's Name</th>
            <th class="text-center">Problem</th>
            <th class="text-center">Date of Appointment</th>
            <th class="text-center">Time of Appointment</th>
            <th class="text-center">Fees</th>
        </tr>
        <tr ng-repeat="x in payCtrl.doctorfees">
            <td>Dr.{{x.doctor_name}}</td>
            <td>{{x.problem}}</td>
            <td>{{x.date_of_appointment}}</td>
            <td>{{x.time_of_appointment}}</td>
            <td>{{x.fees}}</td>
        </tr>
    </table>

    <h3 class="text-center table--heading">TEST PAYMENT HISTORY</h3>
    <table class="text-center table">
        <tr>
            <th class="text-center">Doctor's Name</th>
            <th class="text-center">Test Name</th>
            <th class="text-center">Date of Appointment</th>
            <th class="text-center">Time of Appointment</th>
            <th class="text-center">Fees</th>
        </tr>
        <tr ng-repeat="x in payCtrl.testfees">
            <td>Dr.{{x.doctor_name}}</td>
            <td>{{x.payment_for}}</td>
            <td>{{x.link__date_of_appointment}}</td>
            <td>{{x.link__time_of_appointment}}</td>
            <td>{{x.cost}}</td>
        </tr>
    </table>
</div>

