<div class="main_content">
    <!-- <button class="btn btn-primary" ng-click="pendocCtrl.showDoctors()">Display Doctors table for registration</button> -->
    <h3 class="text-center pending__doctors--heading">PENDING DOCTORS</h3>
    <table class="table text-center">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Degree</th>
            <th class="text-center">Contact No.</th>
            <th class="text-center">Accept/Reject</th>
        </tr>
        <tr ng-repeat="x in pendocCtrl.doctors">
            <td>{{x.name}}</td>
            <td>{{x.doctor_degree}}</td>
            <td>{{x.mobile_no}}</td>
            <!-- <td>{{x.id}}</td> -->
            <td>
                <input type="button" value="Accept" ng-click="pendocCtrl.accept(x)"
                    class="btn btn-success table-button">
                <input type="button" value="Reject" ng-click="pendocCtrl.reject(x)" class="btn btn-danger table-button">
                <!-- </div> -->
                <!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">

        </div>
        <div class="col-12 col-md-6">

        </div>
    </div>
</div> -->
            </td>
        </tr>
    </table>
</div>